#profile[b-3m3dcnzeek] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-width: 375px;
    height: 100%;
    padding: 0 40px;
}

#profile > *[b-3m3dcnzeek] {
    max-width: 100%;
}

#title[b-3m3dcnzeek] {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
}

#title img[b-3m3dcnzeek] {
    margin-top: 15px;
    position: relative;
}

#titleBackground[b-3m3dcnzeek] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -69%);
    width: 85%;
    height: 75%;
    background-color: rgba(0,0,0,0.35)
}

#profileImage[b-3m3dcnzeek] {
    padding: 0 40px;
}

#title > img[b-3m3dcnzeek] {
    max-width: 100%;
}

#title > h1[b-3m3dcnzeek] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #dbdbdb;
    margin-top: 6px;
}

#imageMeasurer[b-3m3dcnzeek] {
    position: absolute;
    opacity: 0.0;
    z-index: -1000;
}

#spacer[b-3m3dcnzeek] {
    height:1px;
    padding: 0 40px;
}

.shadow[b-3m3dcnzeek] {
    filter: drop-shadow(0px 10px 1px #0000009c);
}

#rightFrame[b-3m3dcnzeek] {
    right:0;
    position:absolute;
}


#leftFrame[b-3m3dcnzeek] {
    left: 0;
    position: absolute;
}