<div 
    class="alert alert-secondary mt-4"
    id="container"
    style="max-width: @(ComputedMaxWidth)px"
>
    <strong class="name">@Name</strong>

    <article>
        @Content
    </article>
</div>

@code {
    /// <summary>
    /// Name / title of article
    /// </summary>
    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    /// Article text
    /// </summary>>
    [Parameter]
    public string? Content { get; set; }
    
    /// <summary>
    /// The maximum width this image is allowed to assume.  Assumes a minimum width of 300px.
    /// </summary>
    [Parameter]
    public int? MaxWidth { get; set; }

    public int ComputedMaxWidth => MaxWidth.HasValue ? Math.Max(MaxWidth.Value, 300) : 300;
}