#name
{
    font-weight: bold;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 10px 1px #0000009c);
}

#container img {
    position: absolute;
}

#container div {
    padding: 30px;
}

.left {
    left:0;
}

.right {
    right:0;
}

.top {
    /*top:0;*/
}

.bottom {
    bottom:0;
}

.topLeftCorner {
    left:-5px;
    top:13px;
    z-index: 2;
}

.topRightCorner {
    right:-5px;
    top:13px;
    z-index: 2;
    transform: rotate(90deg);
}

.bottomLeftCorner {
    bottom:-3px;
    left:-5px;
    z-index: 2;
    transform: rotate(-90deg);
}

.bottomRightCorner {
    bottom:-3px;
    right:-5px;
    z-index: 2;
    transform: rotate(180deg);
}

.rightFrame {
    
}

.leftFrame {
    
}
