
#container {
    position: relative;
    display: inline-block; /* Ensure the frame only takes the necessary width */
    width:575px;
    height:500px;
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the picture fills the frame horizontally */
    height: 100%; /* Ensure the picture fills the frame vertically */
}

#profileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the picture fills the frame horizontally */
    height: 100%; /* Ensure the picture fills the frame vertically */
    z-index:-1;
    scale:95%;
}