.page[b-8whw3tcjxp] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.page > *[b-8whw3tcjxp] {
    max-width: 100%;
}

.background[b-8whw3tcjxp] {
    position: absolute;
}

main[b-8whw3tcjxp] {
    flex: 1;
    max-width: 750px;
}

.sidebar[b-8whw3tcjxp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8whw3tcjxp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    width:100%;
}

.top-row > a[b-8whw3tcjxp] {
    padding: 5px
}

.top-row[b-8whw3tcjxp]  a, .top-row .btn-link[b-8whw3tcjxp] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-8whw3tcjxp] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media {
    .top-row.auth[b-8whw3tcjxp] {
        justify-content: space-between;
    }

    .top-row a[b-8whw3tcjxp], .top-row .btn-link[b-8whw3tcjxp] {
        margin-left: 0;
    }
}

@media {
    .main[b-8whw3tcjxp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8whw3tcjxp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .background[b-8whw3tcjxp] {
        position: absolute;
        width:100%;
        z-index: -100;
    }
}
