#profile[b-8whw3tcjxp] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-width: 381px;
    height: 100%;
    position: relative;
}

#profile > *[b-8whw3tcjxp] {
    max-width: 100%;
}

#padder[b-8whw3tcjxp] {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-width: 381px;
    height: 100%;
    position: relative;
}

#padder > *[b-8whw3tcjxp]{
    max-width: 100%;
}

#profile2[b-8whw3tcjxp] {
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-width: 381px;
    height: 100%;
    padding: 0 40px;
    position: relative;
}

.page[b-8whw3tcjxp] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#rightFrame[b-8whw3tcjxp] {
    right:-5px;
    position:absolute;
}

#leftFrame[b-8whw3tcjxp] {
    left: -5px;
    position: absolute;
}

#frameDiv[b-8whw3tcjxp] {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 10%;
}

.right[b-8whw3tcjxp] {
    right: 0;
}

.left[b-8whw3tcjxp] {
    left: 0;
}

.page > *[b-8whw3tcjxp] {
    max-width: 100%;
}

.background[b-8whw3tcjxp] {
    position: absolute;
}

main[b-8whw3tcjxp] {
    flex: 1;
    max-width: 750px;
}

.sidebar[b-8whw3tcjxp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8whw3tcjxp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    width:100%;
}

.top-row > a[b-8whw3tcjxp] {
    padding: 5px
}

.top-row[b-8whw3tcjxp]  a, .top-row .btn-link[b-8whw3tcjxp] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-8whw3tcjxp] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media {
    .top-row.auth[b-8whw3tcjxp] {
        justify-content: space-between;
    }

    .top-row a[b-8whw3tcjxp], .top-row .btn-link[b-8whw3tcjxp] {
        margin-left: 0;
    }
}

@media {
    .main[b-8whw3tcjxp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8whw3tcjxp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .background[b-8whw3tcjxp] {
        position: absolute;
        width:100%;
        z-index: -100;
    }
}

#footer[b-8whw3tcjxp] {
    background-color: black;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    flex-grow: 50;
    padding: 50px;
}

#footer a[b-8whw3tcjxp] {
    color: white;
}

#banner[b-8whw3tcjxp] {
    width: 100%;
    padding: 13px 0 45px 0;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 5px 1px #0000009c);
    position: fixed;
    z-index:2;
}

#spacer[b-8whw3tcjxp] {
    height:100px;
}

#bannerLink[b-8whw3tcjxp] {
    padding: 0 15px 3px 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 20px;
    width: 150px;
    text-after-overflow: "...";
    text-align: center;
}

#bannerLink > a[b-8whw3tcjxp] {
    color: white;
    text-underline: none !important;
    font-size: 16pt;
    text-decoration: none;
}
