#name[b-4yckmpxq6k]
{
    font-weight: bold;
}

#container[b-4yckmpxq6k] {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 10px 1px #0000009c);
}

#container img[b-4yckmpxq6k] {
    position: absolute;
}

#container div[b-4yckmpxq6k] {
    padding: 20px 25px 25px 25px;
}

.left[b-4yckmpxq6k] {
    left:0;
}

.right[b-4yckmpxq6k] {
    right:0;
}

.top[b-4yckmpxq6k] {
    /*top:0;*/
}

.bottom[b-4yckmpxq6k] {
    bottom:0;
}

.topLeftCorner[b-4yckmpxq6k] {
    left:-5px;
    top:13px;
    z-index: 2;
}

.topRightCorner[b-4yckmpxq6k] {
    right:-5px;
    top:13px;
    z-index: 2;
    transform: rotate(90deg);
}

.bottomLeftCorner[b-4yckmpxq6k] {
    bottom:-3px;
    left:-5px;
    z-index: 2;
    transform: rotate(-90deg);
}

.bottomRightCorner[b-4yckmpxq6k] {
    bottom:-3px;
    right:-5px;
    z-index: 2;
    transform: rotate(180deg);
}

.rightFrame[b-4yckmpxq6k] {
    
}

.leftFrame[b-4yckmpxq6k] {
    
}
