#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

#profileImage {
    width:100%;
    position: absolute;
    scale:95%;
}

#container {
    position: relative;
}

#frame {
    overflow: hidden;
    position: relative;
}